<% remotes = Remote.all %>

<%= form_for @script do |f| %>
	<%= f.label :name %>
	<%= f.text_field :name %>

	<%= f.submit 'Save' %>
<% end %>

<h4>Commands: </h4>
<div id="commands">
	<% @script.script_commands.each do |c| %>
		<%= render partial: 'script_commands/form', locals: { c: c, remotes: remotes } %>
	<% end %>
</div>
<button id="addScriptCommand">Add Command</button>
<button id="saveSubforms">Save Commands</button>
<button id="test">Test this script</button>
