<%= form_for @script do |f| %>
	<%= f.label :name %>
	<%= f.text_field :name %>

	<%= f.submit 'Save' %>
<% end %>

<h4>Commands: </h4>
<div id="commands">
	<% @script.script_commands.each do |c| %>
		<%= render 'script_commands/form', locals: { c: c } %>
	<% end %>
</div>
<button id="addScriptCommand">Add Command</button>
