<!DOCTYPE html>
<html>
<head>
  <title>UniversalRemote</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<h1>Universal Remote<h2>
	<nav>
		<%= link_to 'Scripts', scripts_path %>
		<%= link_to 'New Script', new_script_path %>
		<%= link_to 'Remotes', remotes_path %>
	</nav>

<%= yield %>

</body>
</html>
